:root {
    --ff: 'Inter', sans-serif;

    --h1: bold 2.488rem/1.4em var(--ff);
    --h2: bold 1.728rem/1.4em var(--ff);
    --h3: normal 1.728rem/1.4em var(--ff);
    --h4: 300 1.440rem/1.4em var(--ff);

    --p: 1.125rem/1.4em var(--ff);
    --p2: 1rem/1.4em var(--ff);

    --gray0: hsl(0, 0%, 0%);
    --gray300: hsl(0, 0%, 30%);
    --gray500: hsl(0, 0%, 50%);
    --gray900: hsl(0, 0%, 90%);
    --gray100: hsl(0, 0%, 100%);

    --accent-light: hsl(219, 79%, 66%);

    --bg: hsl(0, 0%, 95%);
    
}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

body {
    background-color: var(--bg);
    color: var(--gray300);
    line-height: 1.6;
}

h1 {
    font: var(--h1);
    color: var(--gray0);
}

h2 {
    font: var(--h2);
    color: var(--gray0);
}

h3 {
    font: var(--h3);
    color: var(--gray0);
}

h4 {
    font: var(--h4);
    color: var(--gray0);
}

p {
    font: var(--p);
    color: var(--gray300);
}

.p {
    font: var(--p);
    color: var(--gray300);
}

.p2 {
    font: var(--p2);
    color: var(--gray500);
}

a {
    color: var(--gray500);
    font: var(--p2);
}

button {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    border: none;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--gray900);
    color: var(--gray300);
    cursor: pointer;

    & svg {
        fill: var(--gray300);
    }
}

.uppercase {
    text-transform: uppercase;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;
    padding: 0 1rem 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 992px) {
        padding: 2.5rem 1rem 4rem 1rem;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 3rem;
    }
}

.row {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;

    @media (max-width: 992px) {
        grid-template-columns: 1fr;
        row-gap: 0.5rem;
        column-gap: 0;
    }

    & .row-title {
        grid-column: span 1;
        justify-self: right;

        @media (max-width: 992px) {
            justify-self: left;
        }
    }

    & .row-content {
        display: grid;
        grid-column: span 2;
        grid-template-columns: repeat(2, 1fr);   
        gap: 2rem;
        grid-auto-columns: 1fr;
    }
}

.header-wrapper {
    position: sticky;
    top: 0;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;

    & .options-menu-wrapper {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;

        & .options-menu {
            background-color: var(--bg);

            display: flex;
            flex-flow: column nowrap;
            justify-items: flex-start;
            align-items: flex-start;
            padding: 1rem;
            gap: 2rem;

            & .nav-section {
                display: flex;
                flex-flow: column nowrap;
                /* align-items: flex-start; */
                gap: .5rem;

                 & button {
                    flex: 1;
                 }
            }

            & a {
                font: var(--p);
                color: var(--gray300);
            }

            & .nav-title {
                display:flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: 0.5rem;
                justify-self: flex-end;

                & svg {
                    fill: var(--accent-light);
                }
            }

            & .location {
                justify-self: flex-end;
            }

            button .dark-mode-icon{
                display: none;
            }
        }
    }

    & .options-menu-wrapper.visible{
        max-height: 100vh;
    }
}

.svg-touch-area {
    width: 44px;
    height: 44px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.header {
    background-color: var(--bg);
    padding: 0.5rem 1rem;

    & .svg-touch-area {
        width: 44px;
        height: 44px;
        display: grid;
        place-items: center;
        cursor: pointer;

        & .dark-mode-icon {
            display: none;
        }

        & svg {
            fill: var(--gray300);
        }
    }

    & .row-title {
        align-self: center;
    }


    & .svg-touch-area.options {
        display: none;
    }

    @media (max-width: 992px) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        & .svg-touch-area.options {
            display: grid;
        }
    }



    & .nav {
        display: none;
        /*
        grid-column: span 2;
        justify-self: flex-end;
        justify-content: flex-end;
        gap: 2rem;
        align-items: center;

        & span, a {
            font: var(--p2);
            color: var(--gray500);
        }

        @media (max-width: 992px) {
            display: none;
        }
        */
    }
}

h1 {
    grid-column: 1 / -1;
}

.hidden {
    display: none;
}

.card {
    display: flex;
    flex-flow: column nowrap;

    & > div {
        margin-bottom: 0.5rem;
    }

    & > .p2 {
        margin-top: 0.5rem;
    } 

    &.edu > .p2 {
        margin-top: 0;
    }
}

.span-2 {
    grid-column: span 2;
}
